.page-shell {
  align-items: center;
  background: #ffffffff;
  border-radius: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0 0 0 0;
  opacity: 1;
  padding: 0 0 0 0;
  width: 100%;
  max-width: calc(100% - 0 - 0);
}

.menu-main {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-radius: 0;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 120px 0 0 0;
  width: auto;
}

.menu-hero {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  margin: 0 0 40px 0;
  padding: 72px 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.menu-hero-inner {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 0 40px;
  width: 1440px;
}

.menu-hero-heading {
  align-items: flex-start;
  flex: none;
  flex-wrap: nowrap;
  gap: 0;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 0 0;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-hero-title {
  color: #333333;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0 0 4px 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-hero-subtitle {
  color: #333333;
  flex: none;
  font-family: var(--s-font-968c398e);
  font-size: 84px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-tabs-section {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 0 0 0 0;
  width: 100%;
}

.menu-tabs {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  margin: 0 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 223px;
  width: 1440px;
  max-width: calc(100% - 0px - 0px);
}

.menu-tab-1 {
  border-bottom: 1px solid #999999;
  color: #999999;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 69px 0 0;
  padding: 8px 0;
  text-align: center;
  width: auto;
  max-width: calc(100% - 0px - 69px);
}

.menu-tab-1:hover {
  border-bottom: 1px solid #333333;
  color: #333333;
}

.menu-tab-2 {
  border-bottom: 1px solid #999999;
  color: #999999;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 69px 0 0;
  padding: 8px 0;
  text-align: center;
  width: auto;
  max-width: calc(100% - 0px - 69px);
}

.menu-tab-2:hover {
  border-bottom: 1px solid #333333;
  color: #333333;
}

.menu-tab-3 {
  border-bottom: 1px solid #999999;
  color: #999999;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 69px 0 0;
  padding: 8px 0;
  text-align: center;
  width: auto;
  max-width: calc(100% - 0px - 69px);
}

.menu-tab-3:hover {
  border-bottom: 1px solid #333333;
  color: #333333;
}

.menu-tab-4 {
  border-bottom: 1px solid #999999;
  color: #999999;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 32px 0 0;
  padding: 8px 0;
  text-align: center;
  width: auto;
  max-width: calc(100% - 0px - 32px);
}

.menu-tab-4:hover {
  border-bottom: 1px solid #333333;
  color: #333333;
}

.menu-course-1 {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  height: auto;
  justify-content: flex-start;
  margin: 0 30px;
  padding: 73px 40px 0 90px;
  width: 1440px;
  max-width: calc(100% - 30px - 30px);
}

.menu-course-2 {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: auto;
  justify-content: flex-start;
  margin: 0 30px;
  padding: 73px 40px 0 90px;
  width: 1440px;
  max-width: calc(100% - 30px - 30px);
}

.menu-course-3 {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: auto;
  justify-content: flex-start;
  margin: 0 30px;
  padding: 73px 40px 0 90px;
  width: 1440px;
  max-width: calc(100% - 30px - 30px);
}

.menu-course-4 {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: auto;
  justify-content: flex-start;
  margin: 0 30px;
  padding: 73px 40px 0 90px;
  width: 1440px;
  max-width: calc(100% - 30px - 30px);
}

.menu-course-desc-2 {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 32px 0;
  padding: 0 0 0 0;
  text-align: left;
  width: 580px;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-desc-4 {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 32px 0;
  padding: 0 0 0 0;
  text-align: left;
  width: 580px;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-heading {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  border-radius: 1px;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 12px 0;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-eyebrow {
  color: #333333;
  font-family: var(--s-font-968c398e);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0 0 4px 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-title {
  color: #333333;
  font-family: var(--s-font-c6ad36d1);
  font-size: 28px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-row {
  align-items: center;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-info-1 {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  height: auto;
  justify-content: flex-start;
  margin: 0 20px 0 0;
  padding: 0;
  width: 50%;
  max-width: calc(100% - 0px - 20px);
}

.menu-course-desc-1 {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 32px 0;
  padding: 0 0 0 0;
  text-align: left;
  width: 580px;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-price-row {
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 8px 0;
  padding: 0;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-price {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 24px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  padding: 0 0 0 0;
  text-align: left;
  width: auto;
}

.menu-course-tax {
  color: #333333;
  font-family: var(--s-font-ad9deb87);
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 7px 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-info-2 {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 20px 0 0;
  padding: 0;
  width: 50%;
  max-width: calc(100% - 0px - 20px);
}

.menu-course-heading-3 {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 12px 0;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-title-alt {
  color: #333333;
  font-family: var(--s-font-6c8feba7);
  font-size: 28px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-row-3 {
  align-items: center;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-info-3 {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 20px 0 0;
  padding: 0;
  width: 50%;
  max-width: calc(100% - 0px - 20px);
}

.menu-course-desc-3 {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 32px 0;
  padding: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-heading-4 {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  border-radius: 5px;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 12px 0;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-row-4 {
  align-items: center;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.menu-course-info-4 {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 20px 0 0;
  padding: 0;
  width: 50%;
  max-width: calc(100% - 0px - 20px);
}

.menu-faq-section {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 160px 0 160px 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.menu-faq-inner {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 0 40px;
  width: 1440px;
}

.menu-faq-heading-wrap {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  margin: 0 120px 0 0;
  padding: 0 0 0 0;
  width: auto;
  max-width: calc(100% - 0px - 120px);
}

.menu-faq-heading {
  align-items: flex-start;
  flex: none;
  flex-wrap: nowrap;
  gap: 0;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 0 0;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-faq-title {
  color: #333333;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0 0 4px 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-faq-subtitle {
  color: #333333;
  flex: none;
  font-family: var(--s-font-968c398e);
  font-size: 84px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.menu-faq-list {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 0 0;
  width: auto;
}

.faq-item {
  display: block;
}

.faq-item:hover {
  border-bottom: 1px solid #333333;
}

.faq-summary {
  align-items: center;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: auto;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
}

.faq-question-group {
  align-items: center;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 0;
  width: auto;
}

.faq-mark-alt-1 {
  background: #333333;
  border-radius: 50%;
  color: #FFFFFF;
  flex: none;
  font-family: var(--s-font-6c8feba7);
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0 16px 0 0;
  padding: 0;
  text-align: center;
  width: 40px;
  max-width: calc(100% - 0px - 16px);
}

.faq-mark-alt-1:is(a:hover *,button:hover *) {
  background: #999999;
  transition-duration: 0ms;
}

.faq-question {
  color: #333;
  flex: 1;
  font-family: var(--s-font-c6ad36d1);
  font-size: 15px;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 1.8;
  text-align: left;
  width: auto;
}

.faq-toggle-icon {
  color: #333;
  font-size: 28px;
  margin: 0 0 0 16px;
  padding: 0;
  max-width: calc(100% - 16px - 0px);
}

.faq-answer-wrap {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}

.faq-answer-inner {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  opacity: 1;
  padding: 0 24px 24px 24px;
  width: 100%;
}

.faq-answer {
  color: #333;
  font-family: var(--s-font-c6ad36d1);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 1.8;
  text-align: left;
  width: auto;
}

.faq-mark-alt-2 {
  background: #333333;
  border-radius: 50%;
  color: #FFFFFF;
  flex: none;
  font-family: var(--s-font-6c8feba7);
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0 16px 0 0;
  text-align: center;
  width: 40px;
  max-width: calc(100% - 0px - 16px);
}

.faq-mark-alt-2:is(a:hover *,button:hover *) {
  background: #999999;
  transition-duration: 0ms;
}

.faq-summary-alt {
  align-items: center;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: auto;
  justify-content: space-between;
  padding: 24px 24px;
  width: 100%;
}

.faq-mark-hover {
  background: #333333;
  border-radius: 50px;
  color: #FFFFFF;
  flex: none;
  font-family: var(--s-font-6c8feba7);
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0 16px 0 0;
  text-align: center;
  width: 40px;
  max-width: calc(100% - 0px - 16px);
}

.faq-mark-hover:hover {
  background: #999999;
}

.faq-mark-hover:is(a:hover *,button:hover *) {
  background: #999999;
}

.faq-mark {
  background: #333333;
  border-radius: 50px;
  color: #FFFFFF;
  flex: none;
  font-family: var(--s-font-6c8feba7);
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0 16px 0 0;
  text-align: center;
  width: 40px;
  max-width: calc(100% - 0px - 16px);
}

.faq-mark:is(a:hover *,button:hover *) {
  background: #999999;
}

.menu-breadcrumb-main {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  margin: 0 0 16px 0;
  padding: 0 40px 0;
  width: 1440px;
  max-width: calc(100% - 0px - 0px);
}

.menu-breadcrumb {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  width: auto;
}

.menu-breadcrumb-home {
  color: #999999;
  font-family: var(--s-font-968c398e);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  text-align: center;
  width: auto;
}

.menu-breadcrumb-sep {
  color: #999999;
  font-size: 16px;
  margin: 0 8px 0;
  max-width: calc(100% - 8px - 8px);
}

.menu-breadcrumb-current {
  color: #333;
  font-family: var(--s-font-968c398e);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  text-align: center;
  width: auto;
}

.site-footer {
  align-items: center;
  background: #333333;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  height: auto;
  justify-content: flex-start;
  padding: 0 0;
  width: 100%;
  position: relative;
}

.site-footer-photo-row {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-top: 1px solid #000;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 826px;
  justify-content: flex-start;
  width: 100%;
}

.site-footer-photo {
  align-items: flex-start;
  border-right: 1px solid #333333;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-photo:before {
  background-size: cover;
}

.site-footer-photo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--node-image);
  background-size: cover;
  background-position: center;
  border-radius: inherit;
  pointer-events: none;
}

.site-footer-photo>* {
  z-index: 1;
}

.site-footer-main {
  align-content: flex-start;
  align-items: flex-start;
  flex: none;
  flex-direction: row;
  flex-wrap: wrap;
  height: 285px;
  justify-content: space-between;
  overflow-x: visible;
  overflow-y: visible;
  padding: 11px 40px 0;
  width: 1440px;
}

.site-footer-brand-col {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 80px 0 0;
  padding: 12px;
  width: auto;
  max-width: calc(100% - 0px - 80px);
}

.site-footer-logo-link {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  margin: 0 0 0 0;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-logo-link:hover {
  opacity: 0.7;
}

.site-footer-logo-wrap {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  overflow-x: visible;
  overflow-y: visible;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0, 0.7, 0.22, 1   );
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-logo-wrap:hover {
  opacity: 1;
}

.site-footer-logo {
  flex: none;
  height: auto;
  width: 260px;
}

.site-footer-address {
  color: var(--s-color-87bf92e0);
  font-family: var(--s-font-c6ad36d1);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 1.8;
  margin: 24px 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-privacy-link {
  color: #FFFFFF;
  font-family: var(--s-font-6c8feba7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 8px 0 0 0;
  padding: 8px 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-privacy-link:hover {
  opacity: 0.7;
}

.site-footer-links-col {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 0;
  width: auto;
}

.site-footer-social-wrap {
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
}

.site-footer-social {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 0;
  width: auto;
}

.site-footer-social-label {
  color: #999999;
  font-family: var(--s-font-968c398e);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 0 0;
  padding: 8px;
  text-align: center;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-social-instagram {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 0 0;
  padding: 8px;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-social-instagram:hover {
  opacity: 0.7;
}

.site-footer-social-instagram-label {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 0 8px;
  text-align: center;
  width: auto;
  max-width: calc(100% - 8px - 0px);
}

.site-footer-social-instagram-icon {
  background: #FFFFFF;
  flex: none;
  height: 1px;
  width: 24px;
}

.site-footer-social-line {
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 0 0;
  padding: 8px;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-social-line:hover {
  opacity: 0.7;
}

.site-footer-social-line-label {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 0 8px;
  text-align: center;
  width: auto;
  max-width: calc(100% - 8px - 0px);
}

.site-footer-social-line-icon {
  background: #FFFFFF;
  flex: none;
  height: 1px;
  width: 24px;
}

.site-footer-nav {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 40px 0 0;
  padding: 0;
  width: auto;
  max-width: calc(100% - 0px - 40px);
}

.site-footer-nav-home {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 1.80;
  margin: 0;
  padding: 8px 8px;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-nav-home:hover {
  opacity: 0.7;
}

.site-footer-nav-menu {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 1.80;
  margin: 0;
  padding: 8px 8px;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-nav-menu:hover {
  opacity: 0.7;
}

.site-footer-nav-staff {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 1.80;
  margin: 0;
  padding: 8px 8px;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-nav-staff:hover {
  opacity: 0.7;
}

.site-footer-nav-reviews {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 1.80;
  margin: 0;
  padding: 8px 8px;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-nav-reviews:hover {
  opacity: 0.7;
}

.site-footer-nav-faq {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 1.80;
  margin: 0;
  padding: 8px 8px;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-nav-faq:hover {
  opacity: 0.7;
}

.site-footer-nav-access {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 1.80;
  margin: 0;
  padding: 8px 8px;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-nav-access:hover {
  opacity: 0.7;
}

.site-footer-bottom {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 61px;
  justify-content: center;
  margin: 0 0 0 0;
  padding: 0 40px;
  width: 1440px;
  max-width: calc(100% - 0px - 0px);
}

.site-footer-copyright {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 13px;
  font-weight: 300;
  height: auto;
  line-height: 1.4;
  text-align: center;
  width: auto;
}

.mobile-nav-inner {
  align-items: center;
  background: rgba(0,0,0,0.16);
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.mobile-nav-panel {
  align-items: center;
  background: #fffef2;
  border-radius: 0;
  box-shadow: 0 6px 15px 0 rgba(0,0,0,0.2);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 80px 0 0 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-links {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0 0 0 0;
  width: 100%;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-link-home {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 32px 30px;
  width: 100%;
}

.mobile-nav-link-home:hover {
  background: #333333;
}

.mobile-nav-link-home-label {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-link-home-label:is(a:hover *,button:hover *) {
  color: #FFFFFF;
}

.mobile-nav-link-home-icon {
  color: #333;
  font-size: 24px;
}

.mobile-nav-link-home-icon:is(a:hover *,button:hover *) {
  color: #fffef2;
}

.mobile-nav-link-menu {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 32px 30px;
  width: 100%;
}

.mobile-nav-link-menu:hover {
  background: #333333;
}

.mobile-nav-link-menu-label {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-link-menu-label:is(a:hover *,button:hover *) {
  color: #FFFFFF;
}

.mobile-nav-link-menu-icon {
  color: #333;
  font-size: 24px;
}

.mobile-nav-link-menu-icon:is(a:hover *,button:hover *) {
  color: #fffef2;
}

.mobile-nav-link-staff {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 32px 30px;
  width: 100%;
}

.mobile-nav-link-staff:hover {
  background: #333333;
}

.mobile-nav-link-staff-label {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-link-staff-label:is(a:hover *,button:hover *) {
  color: #FFFFFF;
}

.mobile-nav-link-staff-icon {
  color: #333;
  font-size: 24px;
}

.mobile-nav-link-staff-icon:is(a:hover *,button:hover *) {
  color: #fffef2;
}

.mobile-nav-link-reviews {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 32px 30px;
  width: 100%;
}

.mobile-nav-link-reviews:hover {
  background: #333333;
}

.mobile-nav-link-reviews-label {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-link-reviews-label:is(a:hover *,button:hover *) {
  color: #FFFFFF;
}

.mobile-nav-link-reviews-icon {
  color: #333;
  font-size: 24px;
}

.mobile-nav-link-reviews-icon:is(a:hover *,button:hover *) {
  color: #fffef2;
}

.mobile-nav-link-faq {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 32px 30px;
  width: 100%;
}

.mobile-nav-link-faq:hover {
  background: #333333;
}

.mobile-nav-link-faq-label {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-link-faq-label:is(a:hover *,button:hover *) {
  color: #FFFFFF;
}

.mobile-nav-link-faq-icon {
  color: #333;
  font-size: 24px;
}

.mobile-nav-link-faq-icon:is(a:hover *,button:hover *) {
  color: #fffef2;
}

.mobile-nav-link-access {
  align-items: center;
  background: rgba(0,0,0,0.0);
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  padding: 32px 30px;
  width: 100%;
}

.mobile-nav-link-access:hover {
  background: #333333;
}

.mobile-nav-link-access-label {
  color: #333;
  flex: none;
  font-family: var(--s-font-c6ad36d1);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-link-access-label:is(a:hover *,button:hover *) {
  color: #FFFFFF;
}

.mobile-nav-link-access-icon {
  color: #333;
  font-size: 24px;
}

.mobile-nav-link-access-icon:is(a:hover *,button:hover *) {
  color: #fffef2;
}

.mobile-nav-footer {
  align-items: flex-start;
  background: #333333;
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 60px 30px;
  width: 100%;
}

.mobile-nav-footer-brand {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 80px;
  justify-content: flex-start;
  margin: 0 0 56px 0;
  padding: 0;
  width: 48%;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-footer-logo-link {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  margin: 0 0 0 0;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-footer-logo-wrap {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 18px;
  justify-content: flex-start;
  margin: 0;
  overflow-x: visible;
  overflow-y: visible;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0, 0.7, 0.22, 1   );
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-footer-logo-wrap:hover {
  opacity: 1;
}

.mobile-nav-footer-logo {
  flex: none;
  height: auto;
  width: 178px;
}

.mobile-nav-footer-logo:before {
  background-size: 95px;
}

.mobile-nav-footer-address {
  color: #FFFFFF;
  font-family: var(--s-font-c6ad36d1);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 1.8;
  margin: 28px 0 0 0;
  text-align: left;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-footer-address:hover {
  opacity: 0.8;
}

.mobile-nav-footer-social-wrap {
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
}

.mobile-nav-footer-social {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 0;
  width: auto;
}

.mobile-nav-footer-social-label {
  color: #999999;
  font-family: var(--s-font-968c398e);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 0 0;
  padding: 8px 0;
  text-align: center;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-footer-instagram {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 0 0;
  padding: 8px 0;
  text-align: center;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-footer-line {
  color: #FFFFFF;
  font-family: var(--s-font-968c398e);
  font-size: 18px;
  font-weight: 400;
  height: auto;
  line-height: 2;
  margin: 0 0 0 0;
  padding: 8px 0;
  text-align: center;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-close-row {
  align-items: center;
  background: #fffef2;
  border-bottom: 1px solid #333333;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80px;
  justify-content: space-between;
  left: 0;
  margin: 0 0 0 0;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  max-width: calc(100% - 0 - 0);
}

.mobile-nav-close-brand-link {
  align-items: flex-start;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 48px;
  justify-content: center;
  margin: 7px 0 0 0;
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-close-logo-wrap {
  align-items: center;
  background: rgba(0,0,0,0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 20px;
  justify-content: center;
  margin: 0;
  overflow-x: visible;
  overflow-y: visible;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0, 0.7, 0.22, 1   );
  width: auto;
  max-width: calc(100% - 0px - 0px);
}

.mobile-nav-close-logo-wrap:hover {
  opacity: 1;
}

.mobile-nav-close-logo {
  flex: none;
  height: auto;
  width: 200px;
}

.mobile-nav-close-button {
  color: #333;
  font-size: 24px;
}

@media (max-width: 1140px) {
  .menu-tabs-section {
    padding: 0 0 0 0;
  }
  .menu-course-1 {
    margin: 0 30px;
    padding: 73px 40px 0 90px;
    width: 100%;
    max-width: calc(100% - 30px - 30px);
  }
  .menu-course-2 {
    margin: 0 30px;
    max-width: calc(100% - 30px - 30px);
  }
  .menu-course-3 {
    margin: 0 30px;
    max-width: calc(100% - 30px - 30px);
  }
  .menu-course-4 {
    margin: 0 30px;
    max-width: calc(100% - 30px - 30px);
  }
  .menu-course-desc-2 {
    padding: 0 23px 0 0;
  }
  .menu-course-desc-4 {
    padding: 0 26px 0 0;
  }
  .menu-course-info-1 {
    flex: none;
    margin: 0 20px 0 0;
    padding: 0;
    width: 50%;
    max-width: calc(100% - 0px - 20px);
  }
  .menu-course-info-2 {
    flex: none;
    margin: 0 20px 0 0;
    width: 50%;
    max-width: calc(100% - 0px - 20px);
  }
  .menu-course-row-3 {
    gap: 40px;
  }
  .menu-course-info-3 {
    flex: none;
    margin: 0 20px 0 0;
    width: 50%;
    max-width: calc(100% - 0px - 20px);
  }
  .menu-course-info-4 {
    flex: none;
    margin: 0 21px 0 0;
    padding: 0;
    width: 50%;
    max-width: calc(100% - 0px - 21px);
  }
  .site-footer-social-instagram {
    display: flex;
  }
}

@media (max-width: 950px) {
  .page-shell {
    padding: 0 0 0 0;
  }
  .menu-main {
    padding: 80px 0 0 0;
  }
  .menu-hero {
    padding: 64px 0;
  }
  .menu-hero-inner {
    padding: 0 30px;
  }
  .menu-hero-title {
    font-size: 16px;
  }
  .menu-hero-subtitle {
    font-size: 64px;
  }
  .menu-tabs-section {
    padding: 0 80px 0 80px;
  }
  .menu-tabs {
    padding: 0 0;
  }
  .menu-tab-1 {
    font-size: 20px;
  }
  .menu-tab-2 {
    font-size: 20px;
  }
  .menu-tab-3 {
    font-size: 20px;
  }
  .menu-tab-4 {
    font-size: 20px;
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-1 {
    gap: 10px;
    margin: 0 0;
    padding: 120px 0 0 0;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-2 {
    flex: none;
    margin: 0 0;
    padding: 120px 0 0 0;
    width: 1440px;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-3 {
    margin: 0 0;
    padding: 120px 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-4 {
    margin: 0 1px;
    padding: 120px 0 0 0;
    max-width: calc(100% - 1px - 1px);
  }
  .menu-course-desc-2 {
    font-size: 14px;
    padding: 0 0 0 0;
  }
  .menu-course-desc-4 {
    font-size: 14px;
    padding: 0 0 0 0;
  }
  .menu-course-eyebrow {
    font-size: 14px;
  }
  .menu-course-title {
    font-size: 36px;
  }
  .menu-course-row {
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-between;
  }
  .menu-course-info-1 {
    flex: none;
    height: auto;
    margin: 0 0 0 15px;
    padding: 0;
    width: 50%;
    max-width: calc(100% - 15px - 0px);
  }
  .menu-course-desc-1 {
    font-size: 14px;
    padding: 0 0 0 0;
  }
  .menu-course-price {
    font-size: 20px;
    padding: 0 0 0 0;
  }
  .menu-course-info-2 {
    flex: none;
    height: auto;
    margin: 0 0 0 15px;
    padding: 0;
    width: 50%;
    max-width: calc(100% - 15px - 0px);
  }
  .menu-course-title-alt {
    font-size: 36px;
  }
  .menu-course-row-3 {
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-between;
  }
  .menu-course-info-3 {
    flex: none;
    height: auto;
    margin: 0 0 0 20px;
    padding: 0;
    width: 50%;
    max-width: calc(100% - 20px - 0px);
  }
  .menu-course-desc-3 {
    font-size: 14px;
    padding: 0 0 0 0;
  }
  .menu-course-row-4 {
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-between;
  }
  .menu-course-info-4 {
    border-radius: 8px;
    flex: none;
    margin: 0 0 0 20px;
    padding: 0;
    width: 50%;
    max-width: calc(100% - 20px - 0px);
  }
  .menu-faq-section {
    padding: 120px 30px 120px 30px;
  }
  .menu-faq-inner {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 0;
  }
  .menu-faq-heading-wrap {
    flex: none;
    margin: 0 0 56px 0;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-faq-title {
    font-size: 16px;
  }
  .menu-faq-subtitle {
    font-size: 64px;
  }
  .menu-faq-list {
    padding: 0 0;
  }
  .menu-breadcrumb-main {
    flex: none;
    height: auto;
    justify-content: space-between;
    margin: 0 0 8px 0;
    padding: 0 30px 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-breadcrumb {
    flex: none;
    height: auto;
    width: auto;
  }
  .menu-breadcrumb-sep {
    color: #666666;
  }
  .site-footer {
    height: auto;
    padding: 0 0;
    position: relative;
  }
  .site-footer-photo-row {
    border-top: 1px solid #000;
    flex: none;
    height: 555px;
  }
  .site-footer-photo {
    border-right: 1px solid #333333;
    flex: none;
  }
  .site-footer-main {
    padding: 35px 30px 0;
  }
  .site-footer-brand-col {
    margin: 0 64px 0 0;
    max-width: calc(100% - 0px - 64px);
  }
  .site-footer-logo-link {
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .site-footer-logo-wrap {
    flex: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .site-footer-address {
    font-size: 15px;
  }
  .site-footer-social-label {
    font-size: 16px;
  }
  .site-footer-social-instagram {
    display: flex;
  }
  .site-footer-social-instagram-label {
    font-size: 16px;
  }
  .site-footer-social-instagram-icon {
    flex: none;
  }
  .site-footer-social-line-label {
    font-size: 16px;
  }
  .site-footer-social-line-icon {
    flex: none;
  }
  .site-footer-nav-home {
    font-size: 16px;
  }
  .site-footer-nav-menu {
    font-size: 16px;
  }
  .site-footer-nav-staff {
    font-size: 16px;
  }
  .site-footer-nav-reviews {
    font-size: 16px;
  }
  .site-footer-nav-faq {
    font-size: 16px;
  }
  .site-footer-nav-access {
    font-size: 16px;
  }
  .site-footer-bottom {
    padding: 0 30px;
  }
  .mobile-nav-link-home {
    padding: 32px 30px;
  }
  .mobile-nav-link-home-label {
    font-size: 16px;
    padding: 0 0 0 0;
  }
  .mobile-nav-link-home-icon {
    font-size: 18px;
  }
  .mobile-nav-link-menu {
    padding: 32px 30px;
  }
  .mobile-nav-link-menu-label {
    font-size: 16px;
    padding: 0 0 0 0;
  }
  .mobile-nav-link-menu-icon {
    font-size: 18px;
  }
  .mobile-nav-link-staff {
    padding: 32px 30px;
  }
  .mobile-nav-link-staff-label {
    font-size: 16px;
    padding: 0 0 0 0;
  }
  .mobile-nav-link-staff-icon {
    font-size: 18px;
  }
  .mobile-nav-link-reviews {
    padding: 32px 30px;
  }
  .mobile-nav-link-reviews-label {
    font-size: 16px;
    padding: 0 0 0 0;
  }
  .mobile-nav-link-reviews-icon {
    font-size: 18px;
  }
  .mobile-nav-link-faq {
    padding: 32px 30px;
  }
  .mobile-nav-link-faq-label {
    font-size: 16px;
    padding: 0 0 0 0;
  }
  .mobile-nav-link-faq-icon {
    font-size: 18px;
  }
  .mobile-nav-link-access {
    padding: 32px 30px;
  }
  .mobile-nav-link-access-label {
    font-size: 16px;
    padding: 0 0 0 0;
  }
  .mobile-nav-link-access-icon {
    font-size: 18px;
  }
  .mobile-nav-footer-logo-link {
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .mobile-nav-footer-logo-wrap {
    flex: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .mobile-nav-footer-address {
    font-size: 15px;
  }
  .mobile-nav-footer-social-label {
    font-size: 16px;
  }
  .mobile-nav-footer-instagram {
    font-size: 16px;
  }
  .mobile-nav-footer-line {
    font-size: 16px;
  }
  .mobile-nav-close-brand-link {
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .mobile-nav-close-logo-wrap {
    flex: none;
    margin: 0 0 0 0;
    padding: 8px 0 8px 0;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
}

@media (max-width: 540px) {
  .menu-main {
    flex: none;
    gap: 0;
    height: auto;
    padding: 60px 0 0 0;
  }
  .menu-hero {
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px 0;
    padding: 48px 20px;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-hero-inner {
    padding: 0;
  }
  .menu-hero-title {
    font-size: 14px;
    width: auto;
  }
  .menu-hero-subtitle {
    font-size: 36px;
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-tabs-section {
    gap: 15px;
    padding: 0 20px 0 20px;
  }
  .menu-tabs {
    padding: 0;
  }
  .menu-tab-1 {
    font-size: 20px;
    margin: 0 24px 0 0;
    padding: 8px 0;
    max-width: calc(100% - 0px - 24px);
  }
  .menu-tab-2 {
    font-size: 20px;
    margin: 0 24px 0 0;
    padding: 8px 0;
    max-width: calc(100% - 0px - 24px);
  }
  .menu-tab-3 {
    font-size: 20px;
    margin: 0 24px 0 0;
    padding: 8px 0;
    max-width: calc(100% - 0px - 24px);
  }
  .menu-tab-4 {
    font-size: 20px;
    margin: 0 0 0 0;
    padding: 8px 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-1 {
    margin: 0 0;
    padding: 50px 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-2 {
    margin: 0 0;
    padding: 30px 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-3 {
    flex: none;
    height: auto;
    margin: 0 0;
    padding: 30px 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-4 {
    padding: 30px 0 0 0;
  }
  .menu-course-desc-2 {
    font-size: 14px;
  }
  .menu-course-desc-4 {
    font-size: 14px;
  }
  .menu-course-heading {
    margin: 0 0 0 15px;
    max-width: calc(100% - 15px - 0px);
  }
  .menu-course-eyebrow {
    font-family: var(--s-font-968c398e);
    font-size: 14px;
  }
  .menu-course-title {
    font-size: 28px;
  }
  .menu-course-row {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
  }
  .menu-course-info-1 {
    flex: none;
    gap: 0;
    height: auto;
    margin: 0 0 0 0;
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-desc-1 {
    font-size: 14px;
  }
  .menu-course-price-row {
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-price {
    font-size: 20px;
  }
  .menu-course-heading {
    margin: 0 0 0 15px;
    padding: 0;
    max-width: calc(100% - 15px - 0px);
  }
  .menu-course-info-2 {
    flex: none;
    height: auto;
    margin: 0 0 0 0;
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-heading-3 {
    margin: 0 0 0 15px;
    max-width: calc(100% - 15px - 0px);
  }
  .menu-course-title-alt {
    font-size: 28px;
  }
  .menu-course-row-3 {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
  }
  .menu-course-info-3 {
    flex: none;
    height: auto;
    margin: 0 0 0 0;
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-desc-3 {
    font-size: 14px;
  }
  .menu-course-heading-4 {
    margin: 0 0 0 15px;
    max-width: calc(100% - 15px - 0px);
  }
  .menu-course-row-4 {
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    height: auto;
  }
  .menu-course-info-4 {
    border-radius: 0;
    flex: none;
    height: auto;
    margin: 0 0 0 0;
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-faq-section {
    flex: none;
    height: 23%;
    padding: 96px 20px 96px 20px;
    width: auto;
  }
  .menu-faq-inner {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .menu-faq-heading-wrap {
    flex: none;
    margin: 0 0 40px 0;
    padding: 0 0 0 0;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-faq-title {
    font-size: 14px;
  }
  .menu-faq-subtitle {
    font-size: 36px;
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .faq-summary {
    padding: 24px 8px;
  }
  .faq-answer-inner {
    padding: 0 8px 24px 8px;
  }
  .faq-toggle-icon {
    margin: 0 0 0 16px;
    max-width: calc(100% - 16px - 0px);
  }
  .faq-summary-alt {
    padding: 24px 8px;
  }
  .menu-breadcrumb-main {
    margin: 0 0 8px 0;
    padding: 0 20px 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-breadcrumb-home {
    line-height: 2;
  }
  .menu-breadcrumb-current {
    line-height: 2;
  }
  .site-footer {
    flex: none;
    gap: 0;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    max-width: calc(100% - 0 - 0);
  }
  .site-footer-photo-row {
    align-items: center;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    justify-content: center;
    width: 100%;
  }
  .site-footer-photo:before {
    background-size: cover;
  }
  .site-footer-photo {
    flex: none;
    height: 304px;
    width: 100%;
  }
  .site-footer-main {
    flex: none;
    height: 685px;
    padding: 0 20px 0;
    width: 100%;
  }
  .site-footer-brand-col {
    flex: none;
    margin: 30px 0 15px 0;
    padding: 0;
    width: 100%;
    max-width: calc(100% - 0px - 0px);
  }
  .site-footer-logo-link {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  .site-footer-address {
    font-size: 14px;
    margin: 16px 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .site-footer-links-col {
    flex: none;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .site-footer-social {
    flex: none;
    width: 100%;
  }
  .site-footer-social-instagram {
    display: flex;
  }
  .site-footer-social-instagram-icon {
    flex: none;
  }
  .site-footer-social-line-icon {
    flex: none;
  }
  .site-footer-nav {
    flex: none;
    margin: 0 40px 32px 0;
    width: 100%;
    max-width: calc(100% - 0px - 40px);
  }
  .site-footer-bottom {
    height: 1px;
    margin: 0 0 0 0;
    padding: 0 20px;
    max-width: calc(100% - 0px - 0px);
  }
  .mobile-nav-panel {
    height: 100%;
    padding: 60px 0 0 0;
  }
  .mobile-nav-links {
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .mobile-nav-link-home {
    padding: 24px 20px;
  }
  .mobile-nav-link-home-label {
    font-size: 16px;
  }
  .mobile-nav-link-menu {
    padding: 24px 20px;
  }
  .mobile-nav-link-menu-label {
    font-size: 16px;
  }
  .mobile-nav-link-staff {
    padding: 24px 20px;
  }
  .mobile-nav-link-staff-label {
    font-size: 16px;
  }
  .mobile-nav-link-reviews {
    padding: 24px 20px;
  }
  .mobile-nav-link-reviews-label {
    font-size: 16px;
  }
  .mobile-nav-link-faq {
    padding: 24px 20px;
  }
  .mobile-nav-link-faq-label {
    font-size: 16px;
  }
  .mobile-nav-link-access {
    padding: 24px 20px;
  }
  .mobile-nav-link-access-label {
    font-size: 16px;
    height: auto;
  }
  .mobile-nav-footer {
    flex: none;
    padding: 96px 20px;
  }
  .mobile-nav-footer-brand {
    flex: none;
    width: 100%;
  }
  .mobile-nav-footer-logo-link {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  .mobile-nav-footer-address {
    font-size: 14px;
    margin: 16px 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .mobile-nav-footer-social {
    flex: none;
    width: 100%;
  }
  .mobile-nav-close-row {
    bottom: auto;
    flex: none;
    height: 60px;
    padding: 0 20px;
    top: 0;
  }
  .mobile-nav-close-brand-link {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding: 18px;
    transition-duration: 0ms;
  }
}

@media (max-width: 360px) {
  .menu-tabs {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    height: 92px;
    justify-content: flex-start;
    margin: 0 1px;
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 1px - 1px);
  }
  .menu-tab-2 {
    margin: 0 0 0 0;
    width: auto;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-tab-4 {
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-info-1 {
    flex: none;
    height: auto;
    margin: 0 0 0 0;
    padding: 17px;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-info-2 {
    flex: none;
    height: auto;
    margin: 0 0 0 0;
    max-width: calc(100% - 0px - 0px);
  }
  .menu-course-info-3 {
    height: 230px;
  }
  .menu-course-info-4 {
    flex: none;
    height: auto;
  }
  .site-footer-photo-row {
    flex: none;
    height: auto;
  }
  .site-footer-photo:before {
    background-size: cover;
  }
  .site-footer-photo {
    flex: none;
    width: 100%;
  }
  .site-footer-social-instagram {
    display: flex;
  }
}
